*~
/straight
/transient
/.backups
/.places
/auto-save-list
\#.*\#
/.lsp-session-*
/recentf
/.cider-repl-history
/projectile-bookmarks.eld
/projectile.cache
/projects
/var
/url
/network-security.data
/bookmarks
/org-roam.db
/eln-cache
/org-clock-save.el
/undo-fu-session
/.local
/savehist
/places
/history
/semanticdb
/eshell
.cache/
/amx-items
/session.*
/smex-items
/.org-id-locations
/racket-mode
