*~
/straight
/transient
/.backups
/.places
/auto-save-list
\#.*\#
/.lsp-session-*
/recentf
/.cider-repl-history
/projectile-bookmarks.eld
/projectile.cache
/var
/url
/network-security.data
/bookmarks
/org-roam.db
/eln-cache
/org-clock-save.el
/undo-fu-session
/.local
/savehist
/places